/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

header {
  background-color: transparent !important;
  box-shadow: none !important;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.list_item_button {
  background-color: #1A1F37 !important;
  padding: 8px;
  border-radius: 8px;
  min-width: 0 !important;
  margin-right: 30px;
}

.list_item:hover .list_item_button {
  background-color: rgb(44, 51, 92) !important;
}

.list_item_button svg {
  color: #0075FF !important;
}


body {
  background-image: url("../images/background.png");
  background-position: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-color: rgb(3, 12, 29) !important;
  font-family: 'Montserrat', sans-serif!important;
}


main {
  color: #fff;
}

/* .MuiDrawer-docked .MuiDrawer-paper {
  width: 240px;
  box-sizing: border-box;
  background: #070b284d !important;
  color: #fff;
  margin: 20px;
  border-radius: 8px;
  backdrop-filter: blur(42px);
  box-shadow: rgb(20 20 20 / 12%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(20 20 20 / 7%) 0rem 0.125rem 0.25rem -0.0625rem;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgb(0 0 0 / 85%);
} */
#root {
  display: flex;
  /* background: aquamarine; */
  min-height: 100vh;
  justify-content: space-between;
}

.left_container {
  /* background-color: #213547; */
  width: 12%;
}

.right_container {
  width: 88%;
  /* background-color: #242424; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  padding: 25px;
  display: -webkit-flex;
  /* flex-wrap: wrap; */
}

.css-vx710a-MuiButtonBase-root-MuiListItemButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgb(0 0 0 / 21%) !important;
}